body{
    background-color: black;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.web{
    display: flex;
    flex-direction: column;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    position: relative;
    overflow: hidden;
}

.close{
    display: none;
    // top: -100%;
}

a{
    text-decoration: none;
}

header{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    padding: 10px 165px;
    div{
        ul{
            list-style-type: none;
            display: flex;
            position: relative;
            li{
                a{
                    text-decoration: none;
                    margin: 15px;
                    color: hsl(233, 8%, 62%);
                    font-size: 0.8em;
                    font-weight: lighter;
                }
                a:hover{
                    color: hsl(233, 8%, 40%);
                }
            }
        }
        button{
            border-radius: 30px;
            border: none;
            background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
            height: 45px;
            width: 165px;
            a{
                color: white;
            }
            transition: 0.7s;
        }
        button:hover{
            transform: scale(1.09);
            cursor: pointer;
        }
    }
    .hamburger{
        display: none;
        transition: all 0.3s ease-in-out;
    }
}

.top{
    background-color: hsl(0, 0%, 98%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 660px;
    overflow: hidden;
    .head{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 165px;
        padding-right: 5px;
        width: 43%;
        h1{
            font-size: 3em;
            font-weight: 100;
            color: hsl(233, 26%, 24%);
            margin: 0;
            padding: 0;
        }
        p{
            padding-top: 10px;
            padding-bottom: 25px;
            line-height: 1.5;
            color: hsl(233, 8%, 62%);
        }
        button{
            border-radius: 30px;
            border: none;
            background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
            height: 45px;
            width: 165px;
            a{
                color: white;
            }
            transition: 0.7s;
        }
        button:hover{
            transform: scale(1.09);
            cursor: pointer;
        }
    }
    .picture{
        width: 57%;
        img{
            transform: translateY(-70px);
        }
    }
    .img2{
        position: absolute;
        top: -1%;
        left: 55.8%;
    }
}

.moreinfo{
    background-color: hsl(220, 16%, 96%);
    display: flex;
    flex-direction: column;
    padding-left: 165px;
    justify-content: center;
    min-height: 660px;
    .why{
        width: 50%;
        h2{
            font-size: 2.3em;
            font-weight: 100;
            color: hsl(233, 26%, 24%);
        }
        p{
            line-height: 1.5;
            color: hsl(233, 8%, 62%);
            padding-bottom: 50px;
        }
    }
    .reasons{
        display: flex;
        justify-content: space-between;
        gap: 27.5px;
        padding-right: 150px;
        div{
            padding: 0;
        }
        img{
            padding-bottom: 15px;
            transition: 0.5s;
        }
        img:hover{
            transform: scale(1.2);
            cursor: pointer;
        }
        h3{
            font-size: 1.3em;
            font-weight: 100;
            color: hsl(233, 26%, 24%);
        }
        p{
            font-size: 0.86em;
            line-height: 1.6;
            color: hsl(233, 8%, 62%);
        }
    }
}

.article{
    background-color: hsl(0, 0%, 98%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 150px;
    padding-right: 150px;
    min-height: 660px;
    .subtopic{
        h2{
            font-size: 2.5em;
            font-weight: 100;
            color: hsl(233, 26%, 24%);
        }

    }
    .cards{
        display: flex;
        gap: 30px;
        div{
            background-color: white;
            border-radius: 5px;
            overflow: hidden;
            img{
                max-width: 100%;
                min-height: 200px;
                display: block;
            }
            div{
                padding: 23px;
                h4{
                    margin: 10px 0px;
                    padding-right: 25px;
                    font-size: 0.9em;
                    font-weight: 100;
                    color: hsl(233, 26%, 24%);
                }
                p{
                    padding: 0;
                    margin: 0;
                    font-size: 0.75em;
                    line-height: 1.5;
                    color: hsl(233, 8%, 62%);
                }
                .small{
                    font-size: 0.5em;
                }
            }
            transition: 0.5s;
        }
        .card:hover{
            transform: scale(1.09);
            cursor: pointer;
        }
    }
}

footer{
    background-color: hsl(233, 26%, 24%);
    display: flex;
    justify-content: space-between;
    padding: 15px 150px;
    min-height: 150px;
    .right{
        width: 50%;
        display: flex;
        justify-content: space-between;
        // border: 1px solid red;
        // gap: 50px;
        .logo{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px 0px;
            // border: 1px solid red;
            svg{
                padding-top: 10px;
            }
            .icons{
                display: flex;
                justify-content: space-between;
            }
        }
        .aboutus{
            height: 100%;
            min-width: fit-content;
            display: flex;
            flex-direction: column;
            justify-content: center;
            // border: 1px solid red;
            a{
                padding: 10px;
                text-decoration: none;
                font-size: 0.9em;
                color: hsl(220, 16%, 96%);
            }
            a:hover{
                color: hsl(233, 26%, 15%);
            }
        }
    }
    .left{
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: center;
        // border: 1px solid red;
        button{
            border-radius: 30px;
            border: none;
            background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
            height: 45px;
            width: 165px;
            a{
                color: white;
            }
            transition: 0.7s;
        }
        button:hover{
            transform: scale(1.09);
            cursor: pointer;
        }
        p{
            font-size: 0.9em;
            line-height: 1.5;
            color: hsl(233, 8%, 62%);
        }
    }
}



@media only screen and (max-width: 900px) {
    body{
        align-items: center;
    }
    .close{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        padding: 0;
        top: 10%;
        right: 5%;
        background-color: hsl(233, 26%, 24%);
        height: 25px;
        width: 25px;
        border-radius: 100%;
        z-index: 1000;
        color: white;
    }
    .close:hover{
        cursor: pointer;
    }
    .web{
        background-color: white;
        width: 375px;
    }

    .ham{
        display: flex;
        padding: 20px 0px;
        margin: 0;
        width: 100%;
        height: fit-content;
        position: absolute;
        top: 0;
        right: 0;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
    }
    
    header{
        padding: 20px 20px;
        div{
            ul{
                display: none;
            }
            button{
                position: fixed;
                left: -100%;
            }

        }
        .hamburger{
            display: block;
        }
        .hamburger:hover{
            cursor: pointer;
        }
    }

    .top{
        flex-direction: column-reverse;
        .head{
            width: 100%;
            height: 100%;
            padding: 0;
            text-align: center;
            align-items: center;
            justify-content: start;
            h1{
                font-size: 2.1em;
            }
            p{
                font-size: 0.8em;
                padding: 5px 20px;
            }
            button{
                margin-top: 10px;
            }
        }
        .picture{
            width: 100%;
            height: 50%;
            background-size: cover;
            img{
                content: url('/images/bg-intro-mobile.svg');
                height: 100%;
                width: 100%;
                transform: translateY(-20px);
                object-fit: cover;
            }
        }
        .img2{
            width: 90%;
            top: -55px;
            left: 50%;
            margin-left: -170px;
        }
    }
    
    .moreinfo{
        padding: 40px 25px;
        align-items: center;
        text-align: center;
        .why{
            width: 100%;
            h2{
                font-size: 1.7em;
            }
            p{
                font-size: 0.8em;
            }
        }
        .reasons{
            width: 100%;
            flex-direction: column;
            align-items: center;
            padding: 0;
            div{
                width: 100%;
            }
            h3{
                font-size: 1em;
            }
            p{
                font-size: 0.8em;
            }
        }
    }
    
    .article{
        padding: 50px 0px;
        height: 100%;
        align-items: center;
        .subtopic{
            h2{
                font-size: 1.7em;
            }
    
        }
        .cards{
            flex-direction: column;
            width: 85%;
            div{
                div{
                    h4{
                        font-size: 0.83em;
                    }
                    p{
                        font-size: 0.7em;
                    }
                }
            }
        }
    }
    footer{
        flex-direction: column;
        padding: 0;
        justify-content: space-around;
        // border: 1px solid red;
        .right{
            width: 100%;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 0;
            // justify-content: center;
            // border: 1px solid red;
            .logo{
                width: 50%;
                svg{
                    padding: 30px 0px;
                }
            }
            .aboutus{
                padding: 0;
                margin: 0;
                // border: 1px solid black;
                p{
                    // margin: 5px;
                    font-size: 0.8em;
                    // border: 1px solid red;
                }
                .careers{
                    margin-top: 0;
                }
            }
        }
        .left{
            align-items: center;
            margin-bottom: 50px;
            button{
                margin: 20px;
            }
            p{
                font-size: 0.8em;
                padding: 0;
                margin: 0;
            }
        }
    }
}























































// body{
//     background-color: red;
//     // overflow-x: hidden;
// }

// .web{
//     position: absolute;
//     top: 0;
//     left: 0;
//     display: flex;
//     flex-direction: column;
//     font-family: 'Public Sans', sans-serif;
//     margin: 0;
//     max-width: 100%;
//     overflow: hidden;
// }

// p{
//     font-size: 18px;
// }

// header{
//     background-color: white;
//     z-index: 100;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     padding: 20px 165px;

//     div{
//         ul{
//             list-style-type: none;
//             display: flex;
//             margin: 0;
//             li{
//                 margin: 0;
//                 padding: 0;
//                 a{
//                     text-decoration: none;
//                     margin: 20px;
//                     color: hsl(233, 8%, 62%);
//                 }
//             }
//         }
//         button{
//             border-radius: 30px;
//             border: none;
//             background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
//             height: 45px;
//             width: 170px;
//             color: white;
//         }
//     }
// }

// .top{
//     background-color: hsl(0, 0%, 98%);
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     height: 660px;
//     overflow: hidden;
//     .head{
//         display: flex;
//         flex-direction: column;
//         padding-left: 165px;
//         padding-right: 30px;
//         width: 45;
//         h1{
//             font-size: 3.5em;
//             font-weight: 100;
//             color: hsl(233, 26%, 24%);
//             margin: 0;
//             padding: 0;
//         }
//         p{
//             margin: 0;
//             padding: 30px 0px;
//             line-height: 1.5;
//             color: hsl(233, 8%, 62%);
//         }
//         button{
//             border-radius: 30px;
//             border: none;
//             background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
//             height: 45px;
//             width: 150px;
//             color: white;
//         }
//     }
//     .picture{
//         width: 55%;
//         img{
//             padding: 0px;
//             transform: translate(-20px, -70px);
//         }
//     }

//     .img2{
//         position: absolute;
//         top: -35px;
//         left: 800px;
//         max-width: 100%;
//     }
// }

// .moreinfo{
//     background-color: hsl(220, 16%, 96%);
//     display: flex;
//     flex-direction: column;
//     padding-left: 150px;
//     justify-content: center;
//     min-height: 660px;
//     .why{
//         width: 50%;
//         padding-bottom: 50px;
//         h2{
//             font-size: 2.5em;
//             font-weight: 100;
//             color: hsl(233, 26%, 24%);
//         }
//         p{
//             line-height: 1.5;
//             color: hsl(233, 8%, 62%);
//         }
//     }
//     .reasons{
//         display: flex;
//         justify-content: space-between;
//         padding-right: 150px;
//         div{
//             width: 265px;
//         }
//         h3{
//             font-size: 1.5em;
//             font-weight: 100;
//             color: hsl(233, 26%, 24%);
//         }
//         p{
//             font-size: 1em;
//             line-height: 1.5;
//             color: hsl(233, 8%, 62%);
//         }
//     }
// }

// .article{
//     background-color: hsl(0, 0%, 98%);
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     padding-left: 150px;
//     padding-right: 150px;
//     min-height: 660px;
//     .subtopic{
//         h2{
//             font-size: 2.5em;
//             font-weight: 100;
//             color: hsl(233, 26%, 24%);
//         }

//     }
//     .cards{
//         display: flex;
//         gap: 30px;
//         div{
//             background-color: white;
//             border-radius: 5px;
//             overflow: hidden;
//             img{
//                 max-width: 100%;
//                 min-height: 200px;
//                 display: block;
//             }
//             div{
//                 padding: 28px;
//                 h4{
//                     margin: 10px 0px;
//                     padding-right: 25px;
//                     font-size: 1em;
//                     font-weight: 100;
//                     color: hsl(233, 26%, 24%);
//                 }
//                 p{
//                     margin: 0;
//                     font-size: 0.8em;
//                     line-height: 1.5;
//                     color: hsl(233, 8%, 62%);
//                 }
//                 .small{
//                     font-size: 0.5em;
//                 }
//             }
//         }
//     }
// }

// footer{
//     background-color: hsl(233, 26%, 24%);
//     display: flex;
//     justify-content: space-between;
//     padding: 20px 150px;
//     min-height: 150px;
//     .right{
//         width: 50%;
//         display: flex;
//         justify-content: space-between;
//         .logo{
//             display: flex;
//             flex-direction: column;
//             justify-content: space-between;
//             padding: 20px 0px;
//             svg{
//                 padding-top: 10px;
//             }
//             .icons{
//                 display: flex;
//                 justify-content: space-between;
//             }
//         }
//         .aboutus{
//             padding: 20px 0px;
//             p{
//                 font-size: 0.9em;
//                 color: hsl(220, 16%, 96%);
//             }
//         }
//     }
//     .left{
//         display: flex;
//         flex-direction: column;
//         align-items: end;
//         justify-content: center;
//         button{
//             border-radius: 30px;
//             border: none;
//             background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
//             height: 45px;
//             width: 150px;
//             color: white;
//         }
//         p{
//             font-size: 0.9em;
//             line-height: 1.5;
//             color: hsl(233, 8%, 62%);
//         }
//     }
// }

// @media only screen and (max-width: 900px) {


//     .web{
//         // max-width: 400px;
//         width: 375px;
//     }
    
//     p{

//     }
    
//     header{
//         // max-width: 400px;
//         background-color: white;
//         z-index: 100;
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         padding: 20px 165px;
    
//         div{
//             ul{
//                 list-style-type: none;
//                 display: flex;
//                 margin: 0;
//                 li{
//                     margin: 0;
//                     padding: 0;
//                     a{
//                         text-decoration: none;
//                         margin: 20px;
//                         color: hsl(233, 8%, 62%);
//                     }
//                 }
//             }
//             button{
//                 border-radius: 30px;
//                 border: none;
//                 background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
//                 height: 45px;
//                 width: 170px;
//                 color: white;
//             }
//         }
//     }
    
//     .top{
//         flex-direction: column-reverse;
//         align-items: center;
//         height: 100%;
//         width: 100%;
//         padding: 0;
//         border: 1px solid red;
//         .head{
//             text-align: center;
//             align-items: center;
//             width: 70%;
//             height: 50%;
//             padding: 0px;
//             padding-bottom: 100px;
//             margin: 0;

//             // border: 1px solid red;
//             h1{
//                 font-size: 2.5em;
//             }
//             p{
//                 padding-left: 50px;
//                 padding-right: 50px;
//             }
//             button{
                
//             }
//         }
//         .picture{
//             width: 70%;
//             padding: 0;
//             margin: 0;
//             // border: 1px solid black;
//             height: 380px;
//             img{
//                 padding: 0;
//                 margin: 0;
//                 content: url('/images/bg-intro-mobile.svg');
//                 width: 100%;
//                 transform: translate(0px,0px);
//                 // border: 1px solid red;
//             }
//         }
    
//         .img2{
//             position: absolute;
            
//             width: 65%;
//             top: -30px;
//             left: 50%;
//             margin-left: -174.5px;
//             // border: 1px solid black;
//         }
//     }
    
//     .moreinfo{
//         padding-left: 0px;
//         align-items: center;
//         text-align: center;
//         border: 1px solid black;
//         .why{
//             width: 100%;
//             padding-bottom: 50px;
//             border: 1px solid black;
//             h2{
//                 font-size: 2.5em;
//                 font-weight: 100;
//                 color: hsl(233, 26%, 24%);
//             }
//             p{
//                 line-height: 1.5;
//                 color: hsl(233, 8%, 62%);
//             }
//         }
//         .reasons{
//             width: 100%;
//             flex-direction: column;
//             align-items: center;
//             padding: 0;
//             border: 1px solid black;
//             // margin: 0;
//             div{
//                 width: 100%;
//             }
//             h3{
//                 font-size: 1.5em;
            
//             }
//             p{
//                 font-size: 1em;
                
//             }
//         }
//     }
    
//     .article{
//         padding: 0;
//         min-height: 660px;
//         .subtopic{
//             h2{

//             }
    
//         }
//         .cards{
//             flex-direction: column;
//             div{
//                 img{

//                 }
//                 div{
//                     h4{

//                     }
//                     p{

//                     }
//                     .small{
//                     }
//                 }
//             }
//         }
//     }
    

// }
















































































// body{
//     height: 100vh;
//     width: 100%;
//     font-family: 'Public Sans', sans-serif;
//     overflow-x: hidden;
// }

// p{
//     font-size: 18px;
// }

// header{
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     background-color: white;
//     z-index: 100;
//     nav{
//         display: flex;
//         align-items: center;
//         justify-content: space-between;
//         padding: 20px 150px;

//         div{
//             ul{
//                 list-style-type: none;
//                 display: flex;
//                 margin: 0;
//                 li{
//                     margin: 0;
//                     padding: 0;
//                     a{
//                         text-decoration: none;
//                         margin: 20px;
//                         color: hsl(233, 8%, 62%);
//                     }
//                 }
//             }
//             button{
//                 border-radius: 30px;
//                 border: none;
//                 background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
//                 height: 45px;
//                 width: 150px;
//                 color: white;
//             }
//         }
//     }
// }

// .top{
//     background-color: hsl(0, 0%, 98%);
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
//     height: 100%;
//     min-width: 1440px;
//     overflow: hidden;
//     .head{
//         display: flex;
//         flex-direction: column;
//         padding-left: 150px;
//         width: 50%;
//         h1{
//             font-size: 3.5em;
//             font-weight: 100;
//             color: hsl(233, 26%, 24%);
//             margin: 0;
//             padding: 0;
//         }
//         p{
//             padding: 20px 0px;
//             line-height: 1.5;
//             color: hsl(233, 8%, 62%);
//         }
//         button{
//             border-radius: 30px;
//             border: none;
//             background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
//             height: 45px;
//             width: 150px;
//             color: white;
//         }
//     }
//     .img1{
//         background: url('/images/bg-intro-desktop.svg') no-repeat, no-repeat;
//         width: 100%;
//         height: 100%;
//         background-position: 25px -200px;
//     }
//     .img2{
//         background: url('/images/image-mockups.png') no-repeat;
//         position: absolute;
//         top: -30px;
//         left: 800px;
//         width: 100%;
//         height: 200%;
//     }
// }

// .moreinfo{
//     background-color: hsl(220, 16%, 96%);
//     display: flex;
//     flex-direction: column;
//     padding-left: 150px;
//     justify-content: center;
//     min-height: 660px;
//     .why{
//         width: 50%;
//         padding-bottom: 50px;
//         h2{
//             font-size: 2.5em;
//             font-weight: 100;
//             color: hsl(233, 26%, 24%);
//         }
//         p{
//             line-height: 1.5;
//             color: hsl(233, 8%, 62%);
//         }
//     }
//     .reasons{
//         display: flex;
//         justify-content: space-between;
//         padding-right: 150px;
//         div{
//             width: 265px;
//         }
//         h3{
//             font-size: 1.5em;
//             font-weight: 100;
//             color: hsl(233, 26%, 24%);
//         }
//         p{
//             font-size: 1em;
//             line-height: 1.5;
//             color: hsl(233, 8%, 62%);
//         }
//     }
// }

// .article{
//     background-color: hsl(0, 0%, 98%);
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     padding-left: 150px;
//     padding-right: 150px;
//     min-height: 660px;
//     .subtopic{
//         h2{
//             font-size: 2.5em;
//             font-weight: 100;
//             color: hsl(233, 26%, 24%);
//         }

//     }
//     .cards{
//         display: flex;
//         gap: 30px;
//         div{
//             background-color: white;
//             border-radius: 5px;
//             overflow: hidden;
//             img{
//                 max-width: 100%;
//                 min-height: 200px;
//                 display: block;
//             }
//             div{
//                 padding: 28px;
//                 h4{
//                     margin: 10px 0px;
//                     padding-right: 25px;
//                     font-size: 1em;
//                     font-weight: 100;
//                     color: hsl(233, 26%, 24%);
//                 }
//                 p{
//                     margin: 0;
//                     font-size: 0.8em;
//                     line-height: 1.5;
//                     color: hsl(233, 8%, 62%);
//                 }
//                 .small{
//                     font-size: 0.5em;
//                 }
//             }
//         }
//     }
// }

// footer{
//     background-color: hsl(233, 26%, 24%);
//     display: flex;
//     justify-content: space-between;
//     padding: 20px 150px;
//     min-height: 150px;
//     .right{
//         width: 50%;
//         display: flex;
//         justify-content: space-between;
//         .logo{
//             display: flex;
//             flex-direction: column;
//             justify-content: space-between;
//             padding: 20px 0px;
//             svg{
//                 padding-top: 10px;
//             }
//             .icons{
//                 display: flex;
//                 justify-content: space-between;
//             }
//         }
//         .aboutus{
//             padding: 20px 0px;
//             p{
//                 font-size: 0.9em;
//                 color: hsl(220, 16%, 96%);
//             }
//         }
//     }
//     .left{
//         display: flex;
//         flex-direction: column;
//         align-items: end;
//         justify-content: center;
//         button{
//             border-radius: 30px;
//             border: none;
//             background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
//             height: 45px;
//             width: 150px;
//             color: white;
//         }
//         p{
//             font-size: 0.9em;
//             line-height: 1.5;
//             color: hsl(233, 8%, 62%);
//         }
//     }
// }


// @media only screen and (max-width: 720px) {
//     .top{
//         flex-direction: column-reverse;
//         .img1{
//             background: url('/images/bg-intro-desktop.svg') no-repeat, no-repeat;
//             width: 100%;
//             height: 100%;
//             background-position: 25px -200px;
//         }
//         .img2{
//             background: url('/images/image-mockups.png') no-repeat;
//             position: absolute;
//             top: -30px;
//             left: 800px;
//             width: 100%;
//             height: 200%;
//         }
//     }
    
//     .moreinfo{
//             align-items: center;
//         .why{
//             align-items: center;
//         }
//         .reasons{
//             flex-direction: column;
//             align-items: center;
//             padding-right: 150px;
//             div{
//                 width: 265px;
//             }
//             h3{
//                 font-size: 1.5em;
//                 font-weight: 100;
//                 color: hsl(233, 26%, 24%);
//             }
//             p{
//                 font-size: 1em;
//                 line-height: 1.5;
//                 color: hsl(233, 8%, 62%);
//             }
//         }
//     }
    
//     .article{
//         background-color: hsl(0, 0%, 98%);
//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         padding-left: 150px;
//         padding-right: 150px;
//         min-height: 660px;
//         .subtopic{
//             h2{
//                 font-size: 2.5em;
//                 font-weight: 100;
//                 color: hsl(233, 26%, 24%);
//             }
    
//         }
//         .cards{
//             display: flex;
//             gap: 30px;
//             div{
//                 background-color: white;
//                 border-radius: 5px;
//                 overflow: hidden;
//                 img{
//                     max-width: 100%;
//                     min-height: 200px;
//                     display: block;
//                 }
//                 div{
//                     padding: 28px;
//                     h4{
//                         margin: 10px 0px;
//                         padding-right: 25px;
//                         font-size: 1em;
//                         font-weight: 100;
//                         color: hsl(233, 26%, 24%);
//                     }
//                     p{
//                         margin: 0;
//                         font-size: 0.8em;
//                         line-height: 1.5;
//                         color: hsl(233, 8%, 62%);
//                     }
//                     .small{
//                         font-size: 0.5em;
//                     }
//                 }
//             }
//         }
//     }
    
//     footer{
//         background-color: hsl(233, 26%, 24%);
//         display: flex;
//         justify-content: space-between;
//         padding: 20px 150px;
//         min-height: 150px;
//         .right{
//             width: 50%;
//             display: flex;
//             justify-content: space-between;
//             .logo{
//                 display: flex;
//                 flex-direction: column;
//                 justify-content: space-between;
//                 padding: 20px 0px;
//                 svg{
//                     padding-top: 10px;
//                 }
//                 .icons{
//                     display: flex;
//                     justify-content: space-between;
//                 }
//             }
//             .aboutus{
//                 padding: 20px 0px;
//                 p{
//                     font-size: 0.9em;
//                     color: hsl(220, 16%, 96%);
//                 }
//             }
//         }
//         .left{
//             display: flex;
//             flex-direction: column;
//             align-items: end;
//             justify-content: center;
//             button{
//                 border-radius: 30px;
//                 border: none;
//                 background-image: linear-gradient(to right,hsl(136, 65%, 51%),hsl(192, 70%, 51%));
//                 height: 45px;
//                 width: 150px;
//                 color: white;
//             }
//             p{
//                 font-size: 0.9em;
//                 line-height: 1.5;
//                 color: hsl(233, 8%, 62%);
//             }
//         }
//     }
// }
